.banner {
    background: url('../img/banner.jpg') no-repeat center center;
    background-size: cover;
    padding-top: 22%;
    padding-bottom: 20%;
    color: white;
  }
  
  .lingkaran {
    display: inline-block;
    border-radius: 50%;
    width: 150px;
    margin: auto;
    height: 150px;
    color: #fff;
    background-color: #0d6efd;
  }
  
  .lingkaran i {
    position: relative;
    top: 30px;
  }
  
  .crop-img {
    object-fit: cover;
  }
  
  a.social {
    display: inline-block;
    width: 40px;
    height: 40px;
    color: #fff;
    border-radius: 50%;
    background-color: #333;
    line-height: 40px;
  }
  
  .client img {
    height: auto;
    max-height: 50px;
  }
  
  .kontak {
    background: url("https://wallpaperaccess.com/full/1867010.jpg") no-repeat
      center center;
    background-size: cover;
    padding-bottom: 20%;
    padding-top: 20%;
    color: #fff;
  }

  .ins {
    width: 8%;
  }